/*Así se pone un comentario */
body {
    background-color: #dad7cd;
    /*Color de fondo*/
    color: #344e41;
    /*Color de letra*/
    /*font-family: cursive; Tipo de fuente/letra*/
    font-family: 'Poppins', sans-serif;
}

/*Editando lo que hay en body del html*/

h1 {
    color: #3a5a40;
    text-align: center;
}

/*Editando lo que hay en h1 y p del html*/



h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

/*Editando lo que hay en h3 del html*/

img {
    width: 300px;
    height: 180px;
    border-style: dotted;
    border-width: 10px;
    border-color: #a3b18a;
    padding: 20px;
    margin: 20px;

}

/*Editando lo que hay en img del html*/

/*a{

}*/

.centrado {
    margin: 10px auto;
    display: block;
}